.dialogs {
    width:800px;
    margin-left:225px;
}
.main {
    color:white;
    margin-left:0px;
}
.message {
    display:flex;
    justify-content: space-between;
    margin-top:30px;
}
.text ul li {
    color:white;
    list-style-type:none;
    margin-top:25px;
}
.text {
    margin-left:0px;
    width:80%;
}
.names ul li a {
    margin-bottom:20px;
    align-items: center;
    display:flex;
}
ul:nth-child(1) > li {
    margin-top:0px;
}
.active {
    font-size:22px;
    border-bottom:2px solid white;
    transition:0.2s;
}
.text li {
    display:flex;
}
.text li img {
    width:50px;
    height:50px;
    background-size:auto;
    border-radius:50%;
    border:1px solid white;
    display:block;
}

.text_me {
    justify-content: flex-end;
    display:flex;
    align-items:center;
}
.text_friend {
    justify-content: flex-start;
    display:flex;
    align-items:center;
}

.text_me .message_me {
    margin-right:20px;
    text-align: right;
}
.text_friend .message_friend {
    margin-left:20px;
    text-align:left;
}
.dialogs_photo {
    width:40px;
    height:40px;
    background-position: center;
    border-radius:50%;
    display:block;
    margin-right:10px;
}