
.main {
        margin-left:225px;
        color:white;
}

.main_users {
        justify-content: space-between;
        margin-top:30px;
        border-bottom:2px solid white
}
.main_users div {
        align-items: center;
}
.main_users div img {
        width: 80px;
        height:80px;
        background-size: auto;
}
.main_users p {
        margin-right:20px;
        margin-left:0px;
}
.main button {
        width:80px;
        height:30px;
}

.users_loc {
        margin-top:10px;
}
.numbers {
        width:100px;
        display:flex;
        justify-content: space-between;
        margin:0 auto;
}
.current {
        font-weight: 900;
}
.info_users p {
        font-size: 18px
}
.info_users img {
        width:100%;
        height:100%;
        background-size:cover
}
.pages {
        justify-content: center;
        font-size:large;
        display:flex
}
.selected {
        color:black;

}
.numbers {
        display: flex;
        list-style-type: none;
        padding-bottom:20px;
}
.numbers li {
        margin-right:10px;
        
        font-size: 22px;
        cursor:pointer
}
.selectedPage {
        color:burlywood
}
.loader {
        width:100px;
        height:100px;
        background-color: transparent;
        position:absolute;
        left:50%;
        top:50%
}
.info_users button {
        width:110px
}