
.write {
    display:block;
    margin-top:30px;
    
}
.write img {
    background-image:cover;
}
.info span {
    margin-left:10px;
}
.info {
    align-items: flex-end;
    display:flex;
}
.message {
    margin-top:10px;
}
.block {
   display:flex;
   margin-top:5px;
}
.block img {
    margin-left:10px;
    width:35px;
    height:35px;
}
.info img {
    height:50px;
    width:50px;
}
.block span {
    margin-left:8px;
    margin-top:10px;
}