.profile img {
    display:cover;
    width:100px;
    height:100px;
    border-radius:10px;
  }
  .description {
    color:white;
    margin-left:20px;
  }
  .profile {
    margin-left:230px;
  }
  .people {
    display:flex;
  }